html {
  margin: 0;
  padding: 0;
  --primary_color: #8eac8e;
  --secondary_color: #f20004;
  --button_color: rgb(61, 105, 61, 0.6);
  --button_color_pressed: rgb(61, 105, 61, 0.2);
}

#body_background_color {
  background-color: var(--primary_color);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
}

/**************** Forside ****************/

nav ul {
  list-style-type: none;
}

nav li {
  margin: 15px auto;
  padding: 20px;
  background-color: var(--button_color);
  border-radius: 2em;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.5);
}

nav li:hover {
  background-color: var(--button_color_pressed);
  font-weight: 800;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 19px;
}

h1 {
  font-size: 4rem;
}

#highlight {
  color: var(--secondary_color);
  transform: scaleX(-1);
  display: inline-block;
}

/************** Produktliste ************/

